/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #333;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

p, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

h1 {
  display: block;
  margin: 17.42px 0;
  font-weight: bold;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
}

thead {
  display: table-header-group;
  vertical-align: middle;
}

th {
  padding: 1px 1px 5px;
  display: table-cell;
  text-align: center;
}

tr {
  display: table-row;
  vertical-align: inherit;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
  display: table-cell;
  vertical-align: inherit;
  text-align: center;
}

h2 {
  display: block;
  font-size: 19.5px;
  margin: 16.185px 0;
}

document {
  display: block;
}

div {
  display: block;
}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

#errors_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}

#errors_explanation ul li {
  font-size: 12px;
  list-style-type: square;
}

li {
  display: list-item;
}